@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .wrapper {
    @apply max-w-4xl m-auto;
  }

  .header {
    transition: transform 200ms 300ms ease-in-out;
  }
}

.header[data-state="show"] {
  transform: translateY(0);
}

.header[data-state="hide"] {
  transform: translateY(-200px);
}
