---
import '../../styles/global.css'
let { title = "Astro Site" } = Astro.props;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
    @import '../../styles/global.css';
	</style>

</head>
<body class="bg-[#1c1c1c] text-white">
	<main>
    <div class="max-w-4xl m-auto">
      <slot />
    </div>
	</main>
</body>
</html>