---
import navlinks from '../../scripts/navlinks.ts';
---
<site-header>
  <header class="header py-4 px-4 lg:px-0 sticky top-0 z-10 border-b-[3px] border-b-black bg-yellow-300" data-state="show">
    <div class="wrapper flex justify-between md:justify-start md:gap-32">
      <p class="font-ibm text-2xl">LJS</p>
      <nav>
        <ul class="flex gap-4 place-items-center h-full">
          {
            navlinks.map(({ url, title }) => (
              <li class="font-inter font-medium hover:text-red-400 transition-all">
                <a href={url}>{title}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </header>
</site-header>

<script type="module" hoist>
  import '/src/scripts/header.ts';
</script>
